doctype html
html(lang="en")
  head
    title= Title
    script.
      var gon = !{JSON.stringify(gon)};
  body.bg-light.py-5
    .container.bg-white.py-3
      #chat
      // block content
    script(src='/assets/main.js')
